#root{
/*-fx-border-style: solid;
-fx-border: none;*/
-fx-focus-color: #00692a;  /*kanske inte detta, kan bli otydligt för keyboard only users*/
}

.menuButton {
-fx-background-color: white;
-fx-background-radius: 0px;
}

.topMenuButton{
-fx-background-radius: 0px;
-fx-background-color: #144f2c;
-fx-border-style: solid;
-fx-border-color: white;
-fx-height: 36px;
}

.nonRoundedButton{
-fx-background-radius: 0px;
}
